@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

.btn-nav {
  flex: 1; /* Isso faz com que todos os itens ocupem o mesmo espaço */
  min-width: 0; /* Permite que os itens encolham igualmente */
}

.link-nav {
  display: flex;
 flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; /* Ocupa toda a altura disponível */
  color: #ffffff;
  text-decoration: none;
  transition: all 0.2s ease;
  background-color: transparent;
  text-align: center;
  width: 100%;
}

.link-nav.ativo {
  color: #2563eb;
}

.link-nav:hover:not(.ativo) {
  background: #6A6464;
}

.conteudo-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.icone-nav {
  padding: 8px;
  border-radius: 8px;
  transition: background-color 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icone-nav.ativo {
  background-color: rgba(239, 246, 255, 0.1);
}

.imagem-icone-nav {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.texto-nav {
  color: #FFF;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 500;
  margin-top: 4px;
  white-space: nowrap; /* Evita quebra de texto */
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}